@tailwind base;
@tailwind components;
@tailwind utilities;

.textGradient {
    background: -webkit-linear-gradient(#3426d0, #99a3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}